<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
<default>
<carriers>
<mensajeriadirecta>
<model>Imagineer\MensajeriaDirecta\Model\Carrier\Customshipping</model>
<active>1</active>
<sort_order>15</sort_order>
<sallowspecific>0</sallowspecific>
<price>0</price>
<name>Correos de Costa Rica</name>
<title>Mensajería Directa</title>
<specificerrmsg>Este método no está disponible o ingresó un código postal inválido.</specificerrmsg>
</mensajeriadirecta>
</carriers>
</default>
</config>
